section {
    display: flex;
    flex-wrap: wrap;
  }
  
  .container1 {
    width: 600;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
  }
  
  .heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
  }
  
  .bar {
    font-size: 20px;
  }
  
  .technical-bars .bar {
    margin-top: 40px 0;
  }
  
  .technical-bars .bar:first-child {
    margin-top: 0;
  }
  
  .technical-bars .bar:last-child {
    margin-bottom: 0;
  }
  
  .technical-bars .bar .info {
    margin-top: 5px;
  }
  
  .technical-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
  }
  
  .technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: black;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
  }
  
  @keyframes animate {
    100% {
      transform: scaleX(1);
    }
  }
  
  .technical-bars .bar .progress-line span {
    position: absolute;
    height: 100%;
    background-color: aqua;
    border-radius: 10px;
    /* animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left; */
  }
  
  .progress-line.html span {
    width: 90%;
  }
  /* .progress-line.css span {
    width: "60%";
  }
  .progress-line.javascript span {
    width: "85%";
  }
  .progress-line.python span {
    width: "50%";
  }
  .progress-line.react span {
    width: "75%";
  }
  
  .progress-line span::after {
    position: absolute;
    padding: 1px 8px;
    background: black;
    color: white;
    font-size: 17px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
  }
  
  .progress-line.html span::after {
    content: "90%";
  }
  .progress-line.css span::after {
    content: "60%";
  }
  .progress-line.javascript span::after {
    content: "85%";
  }
  .progress-line.python span::after {
    content: "90%";
  }
  .progress-line.react span::after {
    content: "90%";
  }
  
  .progress-line.react span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: black;
    top: -50px;
    right: 0;
    animation: showtext 0.5s 1.5s linear forwards;
    opacity: 0;
  }
  
  @keyframes showText {
    100% {
      opacity: 1;
    }
  } */